.app {
  display: flex;
  justify-content: center;
}

.bar {
  display: flex;
  gap: 20px;
  font-size: 25px;
  border-bottom: 2px solid #333;
  height: 100px;
  position: fixed;
  background-color: rgb(6, 6, 6);
  width: 100%;
  z-index: 150;
  margin-left: -100px;
  padding-left: 150px;
  color: white;
}

.bar h5 {
  color: rgb(247, 246, 246);
  width: max-content;
  background-color: rgb(0, 0, 0);
  border-radius: 25%;
}

.navyButton {
  width: max-content;
}

.app .home {
  margin-top: 50px !important;
  padding-top: 50px;
}
.app .container {
  width: 1024px;
}
.app .container .link {
  text-decoration: none;
  color: inherit;
}

.app .container .auth h1 {
  font-size: 20px;
  color: teal;
  margin-bottom: 20px;
}
.app .container .auth form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: white;
  width: 200px;
  gap: 20px;
}
.app .container .auth form input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;
}

.app .container .auth form p {
  font-size: 12px;
  color: red;
  text-align: center;
}
.app .container .auth form span {
  font-size: 12px;
  text-align: center;
}
.app .container .navbar .container {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app .container .navbar .container .logo img {
  width: 120px;
}
.app .container .navbar .container .links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.app .container .navbar .container .links h6 {
  font-size: 16px;
  font-weight: 300;
}
.app .container .navbar .container .links span {
  cursor: pointer;
}
.app .container .navbar .container .links .NewTask {
  background-color: #b9e7e7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  border: 1px solid white;
}
.app .container .navbar .container .links .NewTask:hover {
  color: teal;
  background-color: white;
  border: 1px solid teal;
}
.app .container footer {
  margin-top: 100px;
  padding: 20px;
  background-color: #b9e7e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
.app .container footer img {
  height: 50px;
}
.app .container .home .tasks {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.app .container .home .tasks .task {
  display: flex;
  gap: 100px;
}
.app .container .home .tasks .task:nth-child(2n + 1) {
  flex-direction: row-reverse;
}
.app .container .home .tasks .task .img {
  flex: 2;
  position: relative;
}
.app .container .home .tasks .task .img::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(tomato, rgb(189, 38, 156));
  border-radius: 5%;
  position: absolute;
  top: 20px;
  left: -20px;
  z-index: -1;
}
.app .container .home .tasks .task .img img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.app .container .home .tasks .task .content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app .container .home .tasks .task .content h1 {
  font-size: 48px;
}
.app .container .home .tasks .task .content p {
  font-size: 18px;
}

.app .container .home .write .link button {
  width: max-content;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: rgb(89, 170, 49);
  border: 5px solid rgb(8, 8, 8);
  border-radius: 50px;
  color: rgb(237, 233, 233);
  font-size: 50px;
  margin-top: 45% !important;
  margin-left: 65% !important;
  position: fixed;
  z-index: 100;
}
.app .container .home .write .link button:hover {
  border: 5px solid white;
  background: linear-gradient(
    to bottom right,
    rgb(97, 233, 97),
    rgb(36, 166, 4)
  );
  color: rgb(243, 239, 239);
}
.app .container .home .tasks .task .content button {
  width: max-content;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgb(8, 8, 8);
  color: rgb(0, 0, 0);
}
.app .container .home .tasks .task .content button:hover {
  border: 1px solid white;
  background: linear-gradient(to bottom right, tomato, red);
  color: rgb(243, 239, 239);
}
.app .container .singleTask {
  display: flex;
  gap: 50px;
}
.app .container .singleTask .content {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.app .container .singleTask .content img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.app .container .singleTask .content .user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.app .container .singleTask .content .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.app .container .singleTask .content .user span {
  font-weight: bold;
}
.app .container .singleTask .content .edit {
  display: flex;
  gap: 5px;
}
.app .container .singleTask .content .edit img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.app .container .singleTask .content h1 {
  font-size: 42px;
  color: #333;
}
.app .container .singleTask .content p {
  text-align: justify;
  line-height: 30px;
}
.app .container .singleTask .menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.app .container .singleTask .menu h1 {
  font-size: 20px;
  color: #555;
}
.app .container .singleTask .menu .task {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.app .container .singleTask .menu .task img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.app .container .singleTask .menu .task h2 {
  color: #555;
}
.app .container .singleTask .menu .task button {
  width: max-content;
  padding: 7.5px 15px;
  border: none;
  cursor: pointer;
  color: teal;
  background-color: white;
  border: 1px solid teal;
}
.app .container .singleTask .menu .task button:hover {
  border: 1px solid white;
  background-color: #b9e7e7;
  color: black;
}
.app .container .add {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.app .container .add .content {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.app .container .add .content input {
  padding: 10px;
  border: 1px solid lightgray;
}
.app .container .add .content .editorContainer {
  height: 300px;
  overflow: scroll;
  border: 1px solid lightgray;
}
.app .container .add .content .editorContainer .editor {
  height: 100%;
  border: none;
}
.app .container .add .menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.app .container .add .menu .item {
  border: 1px solid lightgray;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  color: #555;
}
.app .container .add .menu .item h1 {
  font-size: 20px;
}
.app .container .add .menu .item .file {
  text-decoration: underline;
  cursor: pointer;
}
.app .container .add .menu .item .buttons {
  display: flex;
  justify-content: space-between;
}
.app .container .add .menu .item .buttons :first-child {
  cursor: pointer;
  color: teal;
  background-color: white;
  border: 1px solid teal;
  padding: 3px 5px;
}
.app .container .add .menu .item .buttons :last-child {
  cursor: pointer;
  color: white;
  background-color: teal;
  border: 1px solid teal;
  padding: 3px 5px;
}
.app .container .add .menu .item .prio {
  display: flex;
  align-items: center;
  gap: 2px;
  color: rgb(28, 6, 1);
}
